<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.scss">
</head>
<body>
<div class="main ">
    
   <div class="col-left sidebar col-sm-2">
      <div class="col-left-first">
         <div class="block block-account">
           
            <div class="block-content">
               <ul>
                  <li class="account current"><a href="https://canifa.com/customer/account/"><strong>Tài khoản của tôi</strong></a></li>
   
                  <li class="address_book" ><a href="https://canifa.com/customer/address/">Sổ địa chỉ</a></li>
   
                  <li class="order_checking" ><a href="https://canifa.com/order/checking/">Kiểm tra đơn hàng</a></li>
   
                  <li class="orders" ><a href="https://canifa.com/sales/order/history/">Lịch sử đơn hàng</a></li>
   
                  <li class="cardview" ><a href="https://canifa.com/customer/cardview/">Thông tin thẻ</a></li>
   
                  <li class="vipcard" ><a href="https://canifa.com/customer/account/vipcard/">Tra cứu điểm thẻ</a></li>
   
                  <li class="cpointpoin" ><a href="https://canifa.com/cpoint/poin/">C-point</a></li>
   
                  <li class="logout" ><a href="https://canifa.com/customer/account/logout/">Đăng xuất</a></li>
               </ul>
            </div>
         </div>
   
      </div>
   </div> 
   <div class="col-main col-sm-8">
      <div class="customer-account-index-content">
         <div class="page-title">
            <h1>Chỉnh sửa thông tin tài khoản</h1>
         </div>
         <div class="page-description">Chỉnh sửa thông tin chi tiết sẽ giúp bạn tiết kiệm được rất nhiều thời gian trong quá trình mua hàng, hoàn thanh thanh toán</div>
         <form action="https://canifa.com/customer/account/editPost/" method="post" autocomplete="off" id="form-validate" class="scaffold-form" enctype="multipart/form-data">
            <div class="fieldset">
               <input name="form_key" type="hidden" value="YGvRr1ScrYpf6J18" />
               <ul class="form-list">
                  <div class="account-radio-gender form-group">
                     <label class="label">Giới tính</label>
                     <label>
                        <input type="radio" id="gender1" name="gender" class="radio validate-one-required" value="1" checked>
                        <label for="gender1">Nam</label>
                        <input type="radio" id="gender2" name="gender" class="radio validate-one-required" value="2">
                        <label for="gender2">Nữ</label>
                     </label>
                  </div>
                  <li>
                     <p>Card ID: <span id='card_id' style="color:red"> CNFAPP00001121937</span></p>
                  </li>
                  <li class="fields">
                     <div class="customer-name">
                        <div class="field name-firstname">
                           <label for="firstname" class="required">Tên</label>
                           <div class="input-box">
                              <input type="text" id="firstname" name="firstname" value="Lê Tuấn " title="Tên" maxlength="255" class="input-text required-entry"  />
                           </div>
                        </div>
                        <div class="field name-lastname">
                           <label for="lastname" class="required">Họ tên đệm</label>
                           <div class="input-box">
                              <input type="text" id="lastname" name="lastname" value="Hải" title="Họ tên đệm" maxlength="255" class="input-text required-entry"  />
                           </div>
                        </div>
                     </div>
                  </li>
                  <li>
                     <label for="email" >Địa chỉ email</label>
                     <div class="input-box">
                        <input type="email" autocapitalize="off" autocorrect="off" spellcheck="false" name="app_email" id="app_email" value="" title="Địa chỉ email" class="input-text validate-email"  />
                     </div>
                  </li>
                  <li>
                     <label for="month">Ngày sinh</label>
                     <div class="input-box customer-dob">
                        <div class="dob-day">
                           <input type="text" id="day" name="day" value="20" title="Ngày" class="input-text validate-custom"  />
                           <label for="day">Ngày</label>
                        </div>
                        <div class="dob-month">
                           <input type="text" id="month" name="month" value="06" title="Tháng" class="input-text validate-custom"  />
                           <label for="month">Tháng</label>
                        </div>
                        <div class="dob-year">
                           <input type="text" id="year" name="year" value="2000" title="Năm" class="input-text validate-custom"  />
                           <label for="year">Năm</label>
                        </div>   
                        <div class="dob-full" style="display:none;">
                           <input type="hidden" id="dob" name="dob" />
                        </div>

                        <div class="validation-advice" style="display:none;"></div>
                     </div>
                  </li>
                  <li>
                     <div class="form-group input-phone">
                        <label for="email" class="required">Số điện thoại</label>
                        <div class="input-box">
                           <input type="text" autocapitalize="off" autocorrect="off" spellcheck="false" name="login[username]" value='0379123473' id="phone" class="input-text required-entry"  placeholder="Nhập số điện thoại" onchange="validateInput()"/>
                        </div>
                     </div>
                     <div class="form-group form-group-otp">
                        <label>Mã xác thực</label>
                        <div class="input-box">
                           <input type="number" class="input-text" placeholder="Nhập mã xác thực gửi tới số điện thoại trên" id='otp' onchange="verify_otp(verify_url)">
                           <input type="button" class="btn-send" value="Lấy mã OTP" id='get_otp' >
                        </div>
                     </div>
                  </li>
                  <li>
                     <i><small>Để thay đổi thông tin ngày sinh hoặc số điện thoại, vui lòng liên hệ bộ phận CSKH qua hotline 1800.6061 nhánh 2 (miễn phí)</small></i>
                  </li>
                  <li>
                     <input type="hidden" id="cnf_customer_validated_success" name="cnf_customer_validated_success" value="0">
                  </li> 
                  <li class="control">
                     <input type="checkbox" name="change_password" id="change_password" value="1" onclick="setPasswordForm(this.checked)" title="Thay đổi mật khẩu" class="checkbox" /><label for="change_password">Thay đổi mật khẩu</label>
                  </li>
               </ul>
            </div>
            <div class="fieldset" style="display:none;">
               <ul class="form-list">
                  <li class="fields">
                     <label for="current_password" class="required"><em>*</em>Mật khẩu hiện tại</label>
                     <div class="input-box">
                        <!-- This is a dummy hidden field to trick firefox from auto filling the password -->
                        <input type="text" class="input-text no-display" name="dummy" id="dummy" />
                        <input type="password" title="Mật khẩu hiện tại" class="input-text required-entry" name="current_password" id="current_password"  />
                     </div>
                  </li>
                  <li class="fields">
                     <div class="field">
                        <label for="password" class="required"><em>*</em>Mật khẩu mới</label>
                        <div class="input-box">
                           <input type="password" title="Mật khẩu mới" class="input-text required-entry validate-password" name="password" id="password" />
                        </div>
                     </div>
                     <div class="field">
                        <label for="confirmation" class="required"><em>*</em>Xác nhận mật khẩu mới</label>
                        <div class="input-box">
                           <input type="password" title="Xác nhận mật khẩu mới" class="input-text required-entry validate-cpassword" name="confirmation" id="confirmation" />
                        </div>
                     </div>
                  </li>
               </ul>
            </div>
            <div class="buttons-set">
               <button type="submit" title="Lưu" class="button" id='save'><span><span>Lưu</span></span></button>
            </div>
         </form>
      </div>
   </div>                  
</div>

</body>
</html>
<style>
   .page-title{
      text-transform: uppercase;
      font-family: sans-serif;
   }
</style>